.add-booking {
    position: absolute;
    top: 74px;
    right: 56px;
}

.display-booking {
    
    .booking-attendees {

        > p {
            font-weight: bold;
        }
    }

    ul {
        list-style-type: none;        
        padding-left: 0;

        li {
            margin-bottom: rem(20);
        }

        p {
            padding: 0;
            margin: 0;
        }
    }
}