$primary-font: 'Readex Pro', sans-serif;
$secondary-font: 'Marck Script', cursive;
$navy-blue: #05445e;
$blue-grotto: #189ab4;
$baby-blue: #d4f1f4;

$primary-color: $navy-blue;
$secondary-color: $blue-grotto;
$tertiary-color: $baby-blue;


@mixin primary-font-family() {
    font-family: $primary-font;
}

@mixin secondary-font-family() {
    font-family: $secondary-font;
}

h2,
h3,
h4,
h5,
p,
fieldset,
input,
div {
    @include primary-font-family();
}


h1 {
    @include secondary-font-family();
    color: $primary-color;
    font-size: rem(70);
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;

    span {
        @include primary-font-family();
        font-size: rem(22);
        font-weight: 200;        

        &:first-of-type {
            font-size: rem(36);
        }
    }
}

.loader-container {
    position: relative;
    width: 100%;
    min-height: rem(500);
}

.loader {
    position: relative;
    margin: 170px auto 0;
    font-size: 30px;
    color: $primary-color;        
    height: 77px;
    width: 77px;
}