.dashboard-container {
    display: flex;
        align-items: center;
        justify-content: center;
    background-color: $primary-color;
    border-radius: 40px;
    margin: 100px auto 0;
    height: 400px;
    width: 70%;
}

.dashboard-options {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 700px;

    button {
        font-size: 30px;
    }
}

.gateway-access-code {

    label {
        color: #fff;
        font-size: 25px;

        input {
            margin-left: 12px;
        }
    }
}