.form-element {
    margin-bottom: rem(12);

    label {
        display: flex;
        flex-flow: row nowrap;

        &.checkbox {
            cursor: pointer;
        }

        > div {
            width: rem(250);
        }

        sup {
            color: red;
        }
    }
    
}


input {
    font-size: rem(16);
    padding: 6px 5px;

    &.error {
        border-color: red;
    }
}

button {
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    background: #189ab4;
    color: #fff;
    font-weight: bold;
    padding: 12px 17px;
    border-radius: 8px;
    transition: background-color 350ms;

    &:hover {
        background-color: darken(#189ab4, 10%);
        transition: background-color 350ms;
    }

    &:active {
        background-color: darken(#189ab4, 15%);
    }

    &.delete-button {
        margin-top: rem(20);
    }

    &.add-attendee {
        font-size: rem(24);
        padding: rem(4) rem(13);
    }
}

.close-modal-container {
    padding: 10px 13px;
    position: absolute;
    right: rem(16);
    
    .close-modal {
        position: relative;

        i {
            font-size: 24px;
        }
    }
}