.heading {
    align-content: center;
    justify-content: center;
    display: flex;
    position: relative;
    h1 {

        span {
            position: relative;
            top: 0;
        }
    }
}