  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
  }
  
  .modal-main {
    padding: rem(25) rem(25) rem(35) rem(35);
    position:fixed;
    background: white;
    width: 700px;
    min-height: 400px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    opacity: 1;
    visibility: visible;
    transition: opacity 350ms;
  }
  
  .display-none {
    opacity: 0;
    visibility: hidden;
    transition: opacity 350ms;
  }

  .booking-attendees {
    margin-bottom: 20px;
    position: relative;

    button {
      position: absolute;
      right: rem(136);
      bottom: 0;
    }
  }

  fieldset {
    border: none;
    padding: 0;
    margin-bottom: 10px;

    input {

      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }
  }

  // For submission status display.
  form {

    &.submission-updated {
      height: 374px;
      display: flex;
      align-items: center;

      h2,
      div,
      button {
        display: none;        
      }

      & ~ button {
        display: none;
      }
  
      .submission-message {
        font-size: 31px;
        text-align: center;
        width: 100%;
      }
    }
  }

  p {

    &.booking-error-validation {
      font-size: rem(14);
      color: red;
      display: none;
  
      &.error {
        display: block;
      }
    }
  }

  div {
    &.react-datepicker__day--today {
      color: $secondary-color !important;
    }
  }
