@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
h2,
h3,
h4,
h5,
p,
fieldset,
input,
div {
  font-family: "Readex Pro", sans-serif;
}

h1 {
  font-family: "Marck Script", cursive;
  color: #05445e;
  font-size: 4.375rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
}
h1 span {
  font-family: "Readex Pro", sans-serif;
  font-size: 1.375rem;
  font-weight: 200;
}
h1 span:first-of-type {
  font-size: 2.25rem;
}

.loader-container {
  position: relative;
  width: 100%;
  min-height: 31.25rem;
}

.loader {
  position: relative;
  margin: 170px auto 0;
  font-size: 30px;
  color: #05445e;
  height: 77px;
  width: 77px;
}

.form-element {
  margin-bottom: 0.75rem;
}
.form-element label {
  display: flex;
  flex-flow: row nowrap;
}
.form-element label.checkbox {
  cursor: pointer;
}
.form-element label > div {
  width: 15.625rem;
}
.form-element label sup {
  color: red;
}

input {
  font-size: 1rem;
  padding: 6px 5px;
}
input.error {
  border-color: red;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  background: #189ab4;
  color: #fff;
  font-weight: bold;
  padding: 12px 17px;
  border-radius: 8px;
  transition: background-color 350ms;
}
button:hover {
  background-color: #127487;
  transition: background-color 350ms;
}
button:active {
  background-color: #0f6071;
}
button.delete-button {
  margin-top: 1.25rem;
}
button.add-attendee {
  font-size: 1.5rem;
  padding: 0.25rem 0.8125rem;
}

.close-modal-container {
  padding: 10px 13px;
  position: absolute;
  right: 1rem;
}
.close-modal-container .close-modal {
  position: relative;
}
.close-modal-container .close-modal i {
  font-size: 24px;
}

.heading {
  align-content: center;
  justify-content: center;
  display: flex;
  position: relative;
}
.heading h1 span {
  position: relative;
  top: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.modal-main {
  padding: 1.5625rem 1.5625rem 2.1875rem 2.1875rem;
  position: fixed;
  background: white;
  width: 700px;
  min-height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  opacity: 1;
  visibility: visible;
  transition: opacity 350ms;
}

.display-none {
  opacity: 0;
  visibility: hidden;
  transition: opacity 350ms;
}

.booking-attendees {
  margin-bottom: 20px;
  position: relative;
}
.booking-attendees button {
  position: absolute;
  right: 8.5rem;
  bottom: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 10px;
}
fieldset input:not(:last-of-type) {
  margin-right: 5px;
}

form.submission-updated {
  height: 374px;
  display: flex;
  align-items: center;
}
form.submission-updated h2,
form.submission-updated div,
form.submission-updated button {
  display: none;
}
form.submission-updated ~ button {
  display: none;
}
form.submission-updated .submission-message {
  font-size: 31px;
  text-align: center;
  width: 100%;
}

p.booking-error-validation {
  font-size: 0.875rem;
  color: red;
  display: none;
}
p.booking-error-validation.error {
  display: block;
}

div.react-datepicker__day--today {
  color: #189ab4 !important;
}

.add-booking {
  position: absolute;
  top: 74px;
  right: 56px;
}

.display-booking .booking-attendees > p {
  font-weight: bold;
}
.display-booking ul {
  list-style-type: none;
  padding-left: 0;
}
.display-booking ul li {
  margin-bottom: 1.25rem;
}
.display-booking ul p {
  padding: 0;
  margin: 0;
}

.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #05445e;
  border-radius: 40px;
  margin: 100px auto 0;
  height: 400px;
  width: 70%;
}

.dashboard-options {
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: 700px;
}
.dashboard-options button {
  font-size: 30px;
}

.gateway-access-code label {
  color: #fff;
  font-size: 25px;
}
.gateway-access-code label input {
  margin-left: 12px;
}
