.add-booking {
  position: absolute;
  top: 74px;
  right: 56px;
}

.display-booking .booking-attendees > p {
  font-weight: bold;
}
.display-booking ul {
  list-style-type: none;
  padding-left: 0;
}
.display-booking ul li {
  margin-bottom: rem(20);
}
.display-booking ul p {
  padding: 0;
  margin: 0;
}
