h2,
h3,
h4,
h5,
p,
fieldset,
input,
div {
  font-family: "Readex Pro", sans-serif;
}

h1 {
  font-family: "Marck Script", cursive;
  color: #05445e;
  font-size: rem(70);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
}
h1 span {
  font-family: "Readex Pro", sans-serif;
  font-size: rem(22);
  font-weight: 200;
}
h1 span:first-of-type {
  font-size: rem(36);
}

.loader-container {
  position: relative;
  width: 100%;
  min-height: rem(500);
}

.loader {
  position: relative;
  margin: 170px auto 0;
  font-size: 30px;
  color: #05445e;
  height: 77px;
  width: 77px;
}
