/* Error: Undefined variable.
 *   ,
 * 5 |     background-color: $primary-color;
 *   |                       ^^^^^^^^^^^^^^
 *   '
 *   src/sass/dashboard.scss 5:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 5 \2502      background-color: $primary-color;\a   \2502                        ^^^^^^^^^^^^^^\a   \2575 \a   src/sass/dashboard.scss 5:23  root stylesheet";
}
