.form-element {
  margin-bottom: rem(12);
}
.form-element label {
  display: flex;
  flex-flow: row nowrap;
}
.form-element label.checkbox {
  cursor: pointer;
}
.form-element label > div {
  width: rem(250);
}
.form-element label sup {
  color: red;
}

input {
  font-size: rem(16);
  padding: 6px 5px;
}
input.error {
  border-color: red;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  background: #189ab4;
  color: #fff;
  font-weight: bold;
  padding: 12px 17px;
  border-radius: 8px;
  transition: background-color 350ms;
}
button:hover {
  background-color: #127487;
  transition: background-color 350ms;
}
button:active {
  background-color: #0f6071;
}
button.delete-button {
  margin-top: rem(20);
}
button.add-attendee {
  font-size: rem(24);
  padding: rem(4) rem(13);
}

.close-modal-container {
  padding: 10px 13px;
  position: absolute;
  right: rem(16);
}
.close-modal-container .close-modal {
  position: relative;
}
.close-modal-container .close-modal i {
  font-size: 24px;
}
