/* Error: Undefined variable.
 *    ,
 * 99 |       color: $secondary-color !important;
 *    |              ^^^^^^^^^^^^^^^^
 *    '
 *   src/sass/modal.scss 99:14  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 99 \2502        color: $secondary-color !important;\a    \2502               ^^^^^^^^^^^^^^^^\a    \2575 \a   src/sass/modal.scss 99:14  root stylesheet";
}
